<div class="sidebarHeader">
    <img src="assets/media/images/headShot.jpeg" width="200" alt="Image of Caleb Garrick">
    <h2><u>Caleb Garrick</u></h2>
    <p>Terminal Computer Science Student at Western Connecticut State University</p>
</div>

<div class="info">
    <div class="contacts">
        <ul>
            <li><img src="assets/media/images/mail.svg" alt="Email: "><a
                    href="mailto:caleb.garrick@gmail.com?subject=Site Response">caleb.garrick@gmail.com</a></li>
            <li><img src="assets/media/images/phone.svg" alt="Phone: "><a href="tel:203 501 7156">(203) 501-7156</a>
            </li>
            <li><img src="assets/media/images/http.svg" alt="Website: "><a href="index.html">calebGarrick.github.io</a>
            </li>
            <!--SVG files sourced from material.io-->
            <li><img src="assets/media/images/git.png" alt="Github: "><a
                    href="https://github.com/calebGarrick">Github</a></li>
            <li><img src="assets/media/images/linked.png" alt="LinkedIn: "><a
                    href="https://www.linkedin.com/in/caleb-garrick-01389513b/">LinkedIn</a></li>
            <!--PNGs sourced from respective business sites-->
        </ul>
    </div>

    <hr>

    <div class="education">
        <h2>Education</h2>

        <ul>

            <li>
                <p>Western Connecticut State University</p>
                <p>Danbury,CT</p>
                <i>Bachelor's of Science
                    Major in Computer Science
                    Minor in Mathematics</i>
                <ul>
                    <li>Expected degree completion: December 2020</li>
                    <li>Cumulative GPA: 3.7</li>
                    <li>Major Field Test: 96th percentile</li>
                </ul>
            </li>
        </ul>

    </div>


    <div class="hobby">
        <h2>Other Interests</h2>
        <ul style="list-style: none;">
            <li>Running</li>
            <li>Music Performance</li>
            <li>Hobby Electronics</li>
            <li>Carpentry</li>
        </ul>
    </div>
</div>