
    <div class="sidebarHeader">
        <img src="assets/media/images/headShot.jpeg" width="200"alt="Image of Caleb Garrick">
        <p>Senior Computer Science Student</p>
    </div>

    <div class="info">
        <div class="contacts">
            <ul>
                <li><img src="assets/media/images/mail.svg" alt="Email: "><a href="mailto:caleb.garrick@gmail.com?subject=Site Response">caleb.garrick@gmail.com</a></li>
                <li><img src="assets/media/images/phone.svg" alt="Phone: "><a href="tel:203 501 7156"></a>(203) 501-7156</li>
                <li><img src="assets/media/images/http.svg" alt="Website: "><a href="index.html">calebGarrick.github.io</a></li>
                <!--SVG files sourced from material.io-->
                <li><img src="assets/media/images/git.png" alt="Github: "><a href="https://github.com/calebGarrick">Github</a></li>
                <li><img src="assets/media/images/linked.png" alt="LinkedIn: "><a href="https://www.linkedin.com/in/caleb-garrick-01389513b/">LinkedIn</a></li>
                <!--PNGs sourced from respective business sites-->
            </ul>
        </div>

        <hr>

        <div class="education">
            <h2>Education</h2>
            
            
            <ul>
                <p><strong>Pursuing BS in Computer Science</strong></p>
                <li>
                    <p>Western Connecticut State University - Danbury, CT</p>
                    <p>September 2018 - December 2020</p>
                </li>
                <li>
                    <p>Lipscomb University - Nashville, TN</p>
                    <p>September 2016 to May 2018</p>
                </li>
            </ul>
            
            

        </div>


        <div class="language">
            <h2>Languages</h2>
            <ul>
                <li>English (Native)</li>
                <li>French (Conversational)</li>
            </ul>
        </div>
            

        <div class="hobby">
            <h2>Interests</h2>
            <ul style="list-style: none;">
                <li>Running</li>
                <li>Music Performance</li>
                <li>Carpentry</li>
            </ul>
        </div>
    </div>
    
    
