--- --- @import "{{ site.theme }}";

body {
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
}

tr {
    vertical-align: top;
}

.wrapper {
    max-width: 950px;
    margin: 20px auto;
    position: relative;
    padding: 0 20px;
}

.contacts a {
    margin-left: 5px;
}

.educationInfo {
    list-style-type: none;
}

.educationInfo li p {
    margin-bottom: 5px;
}