<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caleb Garrick</title>
    <link rel="stylesheet" href="assets/css/style.scss">
</head>

<body>
    <!--Going for a design similar to https://webjeda.com/online-cv/-->
    <table class="wrapper">
        <tr>
            <td class="main" colspan="7">{{content}}</td>
            <td class="sidebar" colspan="3">{% include sidebar.html %}</td>
        </tr>
    </table>

</body>

</html>